<div class="history-item">
    <div @onclick="() => { if (!IsActive) ToggleIsActive.InvokeAsync(Commit); }" class="history-item-header">
        <div class=@("history-icon status-intransit d-flex align-items-center justify-content-center"
                     + (IsActive ? " history-icon-active" : ""))>
            <i class="fa fa-circle" style="font-size: 40px; "></i>
        </div>
        <div class="history-title">@Commit.Title</div>
    </div>
    <div class="history-content">
        @if (IsActive)
        {
            <div class="history-author"><span>by</span> @Commit.CreatedBy</div>
        }
        <div class="history-date">@Commit.CreatedAt.ToString("dd MMMM yyyy hh:mm")</div>
        @if (IsActive)
        {
            <div class="history-description">
                @Commit.Description
            </div>
            <hr />
        }
    </div>
</div>

@code {
    [Parameter]
    public CommitViewModel Commit { get; set; }

    [Parameter]
    public bool IsActive { get; set; }

    [Parameter]
    public EventCallback<CommitViewModel> ToggleIsActive { get; set; }
}