<div class="node-content editor-wrapper">
    <form>
        <input class="edit-title" @bind-value="Value" @bind-value:event="oninput" autofocus @onkeypress="EnterKeyDownHandler"/>
    </form>
    <button @onclick="async () => await OnSubmit.InvokeAsync(Value)">
        <RadzenIcon Icon="done" Style=" font-size: 25px;"/>
    </button>
    <button @onclick="OnAbort">
        <RadzenIcon Icon="close" Style=" font-size: 25px;" />
    </button>
</div>

@code{
    [Parameter]
    public string Value { get; set; }

    [Parameter]
    public EventCallback OnAbort { get; set; }

    [Parameter]
    public EventCallback<string> OnSubmit { get; set; }

    private async Task EnterKeyDownHandler(KeyboardEventArgs args)
    {
        if (args.Key == "Enter")
            await OnSubmit.InvokeAsync(Value);
    }
}