@page "/"
@inject HttpClient HttpClient
<AuthorizeView>
    @foreach (var claim in Claims)
    {
        <li>@claim.Type: @claim.Value</li>
    }
</AuthorizeView>

@code{ 
    List<System.Security.Claims.Claim> Claims = new();

    protected async override Task OnParametersSetAsync()
    {
        //var requestMessage = new HttpRequestMessage()
        //{
        //    Method = new HttpMethod("GET"),
        //    RequestUri = new Uri("https://localhost:7001/identity"),
        //};
        //requestMessage.SetBrowserRequestCredentials(BrowserRequestCredentials.Include);
        //Claims = await HttpClient.SendAsync(requestMessage)
        //.Result.Content.ReadFromJsonAsync<List<System.Security.Claims.Claim>>();
        await base.OnParametersSetAsync();
    }
}