@page "/test"
@inherits FluxorComponent

<MBTabBar @bind-Value="@CurrentTab"
          Context="item"
          Items="@TabNames"
          StackIcons="@StackIcons"
          style="margin: 6px; ">

    <Icon>
        @{ var name = "fa-" + item; }
        <MBIcon IconFoundry="MBIconHelper.FAFoundry()"
                IconName="@name" />
    </Icon>

    <Label>
        @item
    </Label>
</MBTabBar>


@code {
    private bool StackIcons { get; set; } = false;
    private int CurrentTab { get; set; } = (int)ArticleSidebarTab.Structure;
    private string[] TabNames { get; set; } = Enum.GetNames<ArticleSidebarTab>();
}