@namespace Client.Components.Common
@inject IDispatcher Dispatcher

@if (Commits != null)
{
    <div class="history">
        <div class="history-list">
            @foreach (var commit in Commits)
            {
                <HistoryItemComponent Commit="commit" IsActive="commit.Id == ActiveCommitId"
                                      GetIcon="GetIcon" ToggleIsActive="SetActiveCommit" />
            }
        </div>
    </div>
}

@code{
    [Parameter]
    public List<BaseCommit> Commits { get; set; }

    [Parameter]
    public Guid ActiveCommitId { get; set; }

    [Parameter]
    public Func<BaseCommit, string> GetIcon { get; set; }

    [Parameter]
    public EventCallback<BaseCommit> SetActiveCommit { get; set; }
}

<style>
    .history {
        margin-bottom: 1rem;
        overflow: auto;
    }
</style>