@inherits FluxorComponent
@inject IState<RightSidebarState> RightSidebarState
@inject IDispatcher Dispatcher


<div class="header">
    <button class="nav-button menu-toggler-button" @onclick="() => Dispatcher.Dispatch(new ToggleLeftSidebarAction())">
        <RadzenIcon Icon="menu"></RadzenIcon>
    </button>
    <div class="d-flex">
        <div class="edit-toggler-wrapper">
            <DevModeButtonComponent />
        </div>
        @if (RightSidebarState.Value.Exists)
        {
            <button class="nav-button" @onclick="() => Dispatcher.Dispatch(new ToggleRightSidebarAction())">
                <RadzenIcon Icon="more_horiz"></RadzenIcon>
            </button>
        }
    </div>
</div>