.page-title{
    margin: 0 0 0 10px;
    font-size: 25px;
    line-height: 50px;
    text-overflow: ellipsis;
    overflow: hidden;
    display: block;
}

.nav-button {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    border: none;
    padding: 0.8125rem;
    border-left: 1px solid #eaeef0;
    background-color: #ffffff;
    color: #000;
}

    .nav-button:focus {
        outline: none;
    }

.edit-toggler-wrapper {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    margin-right: 15px;
}

.header {
    z-index: 200;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    min-height: 50px;
    max-height: 50px;
    border-bottom: 1px solid #eaeef0;
    color: #212529;
    -webkit-box-shadow: none;
    box-shadow: none;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


@media screen and (max-width: 1080px){
    .menu-toggler-button{
        display: none;
    }
}