.main {
    margin: 0;
    padding: 50px;
    transition: all 0.5s ease;
    order: 1;
    width: 100%;
    min-width: 300px;
}

@media screen and (max-width: 1080px) {
    .main {
        padding: 25px;
    }
}

@media screen and (max-width: 768px){
    .main{
        padding: 10px;
    }
}