
@media screen and (max-width: 1000px) {
    .main {
        padding: 25px;
    }
}

@media screen and (max-width: 500px){
    .main{
        padding: 10px;
    }
}


.main-with-sidebar {
    left: 250px;
}

.main-without-sidebar {
    left: 70px;
}
