@inherits FluxorComponent
@inject IState<LeftSidebarState> State

<div class="main" style=@($"background-color:{Theme.BackgroundOptions.Body}")>
    @ChildContent
</div>

@code {
    [CascadingParameter(Name = "Theme")]
    public Theme Theme { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
