@namespace Client.Components.Common

<div class="add-items-wrapper">
    @if (WithAdding)
    {
        <div class="add-item" title="Добавить">
            <RadzenIcon Icon="add" Style="margin: 0" @onclick="async () => await newItemDialog.ShowAsync()"></RadzenIcon>
        </div>
        <TreeViewNewItemDialogComponent @ref="newItemDialog" ParentRecord="Record" />
    }
    @if (WithEditing)
    {
        <div class="add-item" title="Редактировать">
            <RadzenIcon Icon="edit" Style="margin: 0" @onclick="async () => await editItemDialog.ShowAsync()"></RadzenIcon>
        </div>
        <TreeViewEditItemDialogComponent @ref="editItemDialog" Record="Record" />
    }
    @if (WithDeleting)
    {
        <div class="add-item" title="Удалить">
            <RadzenIcon Icon="delete" Style="margin: 0" @onclick="async () => { deleteItemDialog.SetItem(Record); await deleteItemDialog.ShowAsync(); }"></RadzenIcon>
        </div>
        <TreeViewDeleteItemDialogComponent @ref="deleteItemDialog" />
    }
</div>



@code {
    [Parameter]
    public RecordVM Record { get; set; }

    [Parameter]
    public bool WithAdding { get; set; } = true;

    [Parameter]
    public bool WithEditing { get; set; } = true;

    [Parameter]
    public bool WithDeleting { get; set; } = true;


    private TreeViewNewItemDialogComponent newItemDialog;

    private TreeViewEditItemDialogComponent editItemDialog;

    private TreeViewDeleteItemDialogComponent deleteItemDialog;
}
